
<form method="post">

    <label for="">Apellido</label>
    <input type="text" name="apellido"> 
    
    <label for="">Oficio</label>
    <input type="text" name="oficio">
    
    <label for="">Dir</label>
    <input type="text" name="dir">
    
    <label for="">Salario</label>
    <input type="text" name="salario">
    
    <label for="">Comision</label>
    <input type="text" name="comision"> 
    
    <label for="">Departamento</label>
    <input type="text" name="deptnombre">
    
    
    <button class="btn btn-primary">Crear</button>
    
</form>

